.container {
	width: 400px;
}
.btn {
	margin-top: 20px;
}
.panel {
	margin-bottom: 0px;
}
.navigation {
	margin-bottom: 20px;
}
.primary {
	background: #337ab7;
}
.margin-right-10 {
	margin-right: 10px;
}
.padding-10 {
	padding: 10px;
}